<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rails</title>
</head>
<body>
    <h1>Welcome to Medium</h1>
    <button>
        <%= link_to "See Articles", articles_path %>
    </button>
</body>
</html>
